// Fuentes
$font-primary: "New Amsterdam", sans-serif; // Fuente principal
$font-heading: Anton, sans-serif; // Fuente para los encabezados

// Tamaños
$font-size-heading: 3.2rem; // Tamaño del encabezado (nombre de la app)
$font-size-paragraph: 1rem; // Tamaño del párrafo (texto de bienvenida)
$font-size-button: 1rem; // Tamaño del texto del botón
$btn-padding: 10px; // Padding del botón
$btn-border-radius: 6px; // Bordes redondeados del botón

// Colores
$fondo_creditos: DeepSkyBlue;
$fondo_home: whitesmoke;
$fondo_instrucciones: yellowgreen;
$fondo_reserva: whitesmoke;
$fondo_splash: #000000;
$btn-color: #370808;
$btn-hover-color: DarkSlateBlue; // Color de fondo del botón al pasar el ratón
$btn-text-color: white;

// Estilos Generales
body {
    margin: 0;
    padding: 0;
    height: 85vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center; // Asegura que el contenido esté centrado
    font-family: $font-primary; // Aplicar fuente principal
}

#app {
    width: 85vw;  // Ajustado para el ancho de la pantalla del Moto G52
    height: 85vh; // Ajustado para la altura de la pantalla del Moto G52
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column; // Apilar elementos verticalmente
    align-items: center; // Alinea los elementos al centro horizontalmente
    justify-content: center; // Alinea los elementos al centro verticalmente
}

section {
    width: 100%;  // Ocupa el 100% del contenedor
    height: 100%; // Ocupa el 100% del contenedor
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: $font-heading; // Aplicar fuente para encabezado
    font-size: $font-size-heading; // Tamaño del encabezado
    margin: 0;
}

p {
    font-family: $font-primary; // Aplicar fuente para párrafo
    font-size: $font-size-paragraph; // Tamaño del párrafo
    margin: 0;
}

p1 {
    font-family: $font-primary; // Aplicar fuente para párrafo
    font-size: $font-size-paragraph; // Tamaño del párrafo
    margin: 0;
}

.boton {
    background-color: $btn-color;
    color: $btn-text-color;
    padding: $btn-padding;
    font-size: $font-size-button; // Tamaño del texto del botón
    text-decoration: none;
    border-radius: $btn-border-radius;
    display: inline-block;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 200px; // Establece un ancho fijo para todos los botones
    text-align: center; // Alinea el texto al centro
    margin: 10px; // Espacio alrededor de los botones
}

.boton:hover {
    background-color: $btn-hover-color;
    transform: scale(1.05);
}

.ocultar {
    display: none;
}

/* Ajustes específicos para la pantalla del Moto G52 */
@media only screen and (min-device-width: 1080px) and (max-device-width: 2400px) and (orientation: portrait) {
    #app {
        width: 85vw;
        height: 85vh;
    }

    section {
        width: 85vw;
        height: 85vh;
    }

    .boton {
        padding: 1rem;
        font-size: $font-size-button; // Tamaño del texto del botón
    } 
}
