
#home {

    background-color: $fondo_home;
}

#home img {
    max-width: 100%; // Asegura que la imagen no exceda el ancho del contenedor
    height: auto; // Mantiene la proporción de la imagen
    margin-top: 80px; // Espacio debajo de la imagen
    margin-bottom: 1px; // Espacio debajo de la imagen
}

#home h1 {
    font-size: $font-size-heading; // Tamaño del encabezado
    margin-bottom: 60px; // Espacio debajo del encabezado
    color: #A40A0A;
}

#home p {
    font-size: $font-size-paragraph; // Tamaño del párrafo
    margin-bottom: 20px; // Espacio debajo del párrafo
    
}

#home a.boton {
    margin: 1px;
    background-color: #A40A0A;
}